.App {
  text-align: center;
}

.jumbotron {
  text-align: center;
  margin-top: 10%;
  height: 60%;
}

.btn {
  background-color: #1a5ecc;
  font-family: 'Courier New';
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.display-4 {
  text-shadow: 1px 1px 2px #1a5ecc;
  font-family: 'Fredericka the Great', cursive;
}

hr {
  width: 60%;
}